{% include "header.twig" %}

<form class="ui equal width form" action="{{ urlFor("signup.process") }}" method="post">
    <div class="fields">
        <div class="required field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="required field">
            <label>Password</label>
            <input type="password" name="password">
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>First name</label>
            <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="field">
            <label>Last name</label>
            <input type="text" name="lastName" placeholder="Last Name">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
        </div>
    </div>
    <button class="ui large inverted green button">Sign up!</button>
</form>

{% include "footer.twig" %}